.container-home div{
  width: 100%;
  font-family: Roboto, Arial
}

.home-one {
  background-color: rgb(0, 0, 0);
  margin-top: 50px;
  height: 600px;
  color: rgb(255, 255, 255);
}

.home-one-text {
  margin-left: 0px;
}

.home-two, .home-four, .home-six {
  background-color: black;
  margin-bottom: 10px;
  height: 600px;
  color: white;
}

.home-three {
  background-color: rgb(0, 0, 0);
  height: 400px;
  color: rgb(255, 255, 255);
}

.home-five{
  background-color: rgb(0, 0, 0);
  height: 600px;
  color: rgb(255, 255, 255);
}

.challenge-layout {
  margin-top: 3000px;
  height: 600px;
}
